.containerLeft {
	background-color: #DDAF94;
	padding: 0 20px;
    width: 20%;
    color: #4F4846;
}

h2 {
    font-family:'Homemade Apple', cursive;
}

.containerLeft section {
	background-color: #F7ECEC;
	padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
}

.date {
    font-size: small;
}

.title {
    text-align: center;
    font-weight: bold;
}

.first-line {
    padding: 10px 0;
}

.containerLeft div {
    font-size: 14px;
}
