/* Left Journal Entry Section */
.containerLeft {
	background-color: #DDAF94;
	padding: 0 20px;
    width: 27%;
    color: #4F4846;
    min-height: 370px;
}

/* Section Header */
h2 {
    font-family:'Homemade Apple', cursive;
    text-align: center;
}

/* Entry Cards Styling */
.containerLeft section {
	background-color: #F7ECEC;
	padding: 5px 10px;
    margin: 10px 0;
    border-radius: 3px;
}

.date {
    font-size: small;
    display: inline;
}

.title {
    justify-items: center;
    font-weight: bold;
    display: inline;
    padding: 25px;
}

.first-line {
    padding: 10px 0;
}

.containerLeft div {
    font-size: 14px;
}

.line {
    padding: 3px;
}

section h4 {
    margin: 4px 0;
}

/* Delete Button */
.entry button {
    width: 70px;
    padding: 4px;
    border: solid 3px #266150;
    background-color: #266150;
    color: ghostwhite;
    margin: 8px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: right;
}