.containerLeft {
	background-color: #DDAF94;
	padding: 0 20px;
    width: 23%;
    color: #4F4846;
}

h2 {
    font-family:'Homemade Apple', cursive;
    text-align: center;
}

.containerLeft div {
	background-color: #F7ECEC;
	padding: 5px;
    margin: 15px 0;
}

.date {
    font-size: small;
    display: inline;
}

.title {
    justify-items: center;
    font-weight: bold;
    display: inline;
    padding: 25px;
}

.first-line {
    padding: 10px 0;
}


