@import "./header-footer.css";
@import "./journalEntries.css";
@import "./newEntry.css";

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: whitesmoke;
}

.container {
	display: flex;
}