@import "./header-footer.css";
@import "./journalEntries.css";
@import "./newEntry.css";

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #FDF8F5;
}

.container {
	display: flex;
}

p {
	margin: 5px;
}