.containerRight {
	background-color: darkgoldenrod;
	margin: 30px 10%;
	padding: 30px;
	width: 50%;
	display: flex;
    justify-self: center;
    border-radius: 1%;
}

article {
	justify-self: center;
	background-color: goldenrod;
	width: 90%;
    padding: 20px;
    border-radius: 1%;
}

form {
	display: flex;
	flex-flow: column wrap;	
}

button {
    width: 150px;
    height: 30px;
    border: solid 3px darkgoldenrod;
    margin: 5px 0;
}

input, select {
    border: 1px darkgoldenrod solid;
    margin: 5px 0;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 40%;
}

textarea {
    border: 1px darkgoldenrod solid;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

