.containerRight {
	/* background-color: darkgoldenrod; */
	margin: 30px 10%;
	/* padding: 30px; */
	width: 50%;
	display: flex;
    justify-self: center;
    border-radius: 3px;
}

.containerRight h2 {
    font-weight: bold;
    font-size: 30px;
}

article {
	justify-self: center;
	background-color: #E8CEBF;
	width: 100%;
    padding: 35px;
    border-radius: 3px;
}

form {
	display: flex;
	flex-flow: column wrap;	
}

button {
    width: 180px;
    height: 35px;
    border: solid 3px #266150;
    background-color: #266150;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: right;
}

input, select {
    border: 1px #DDAF94 solid;
    margin: 5px 0;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 180px;
}

textarea {
    border: 1px #DDAF94 solid;
    margin: 5px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newTitle {
    text-align: center;
}