.containerRight {
	margin: 30px 15%;
	width: 60%;
	display: flex;
    justify-self: center;
    border-radius: 3px;
    box-shadow: 4px 4px 30px -2px rgba(0, 0, 0, 0.19);
}

.containerRight h2 {
    font-weight: bold;
    font-size: 30px;
}

article {
	justify-self: center;
	background-color: #F7ECEC;
	width: 100%;
    padding: 35px;
    border-radius: 3px;
    color: #4F4846;
}

fieldset {
	display: flex;
    flex-flow: column wrap;	
    border: none;
}

button {
    width: 180px;
    height: 35px;
    border: solid 3px #266150;
    background-color: #266150;
    color: #F7ECEC;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: right;
}

input, select {
    border: 1px #F7ECEC solid;
    margin: 5px 0;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 180px;
}

textarea {
    border: 1px #F7ECEC solid;
    margin: 5px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newEntryLabel {
padding-left: 5px;
}

::placeholder {
    color: #DDAF94;
}